<div class="sidebar">
    
    <section class="name">
        <a href="/">
            <span id="fname">Panasiuk</span>
            <span id="lname">Andrii</span>
        </a>
    </section>

    <div class="meta">
        <a href="https://github.com/andriipanasiuk" target="_blank"><i class="fa fa-github"></i></a>
    </div>

    <div class="sections">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/cv">cv</a></li>
            <li><a href="/english">english learning</a></li>
        </ul>
    </div>
</div>
